{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_ludifica/eliza/buttonsbar

    This template renders the template content area for a resource.

    Example context (json):
    {
        "player": {
            "fullname": "Pepito Perez",
            "avatarurl": "https://moodle_wwwroot_url/some_image"
        },
        "baseurl": "https://moodle_wwwroot_url"
    }
}}

{{#myprofile}}
    <div class="eliza-btns">
        <a href="{{baseurl}}/blocks/ludifica/badges.php" class="badges-btn eliza-btn"><span>{{#str}} badges, block_ludifica {{/str}}</span></a>
        <a href="{{baseurl}}/blocks/ludifica/avatars.php" class="avatars-btn eliza-btn {{#current}}current-user{{/current}}"><span>{{#str}} avatars, block_ludifica {{/str}}</span></a>
        <a href="{{baseurl}}/blocks/ludifica/tickets.php" class="store-btn eliza-btn {{#current}}current-user{{/current}}"><span>{{#str}} benefits, block_ludifica {{/str}}</span></a>
        {{#player}}
            {{#hashomeurl}}
                <a href="{{homeurl}}" class="eliza-btn" data-ludifica-tab="profile"><span>{{#str}} home, block_ludifica {{/str}}</span></a>
            {{/hashomeurl}}
        {{/player}}
    </div>
{{/myprofile}}
